* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --font-footer: "Open Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ========== Common ========== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    display: inline-block;
    min-width: 205px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 3.333;
    padding: 0 16px;
    border-radius: 30px;
    background: #2e80ce;
}

/* ========== Header ========== */
.header {
    background: var(--primary-color);
}

.header--fixed {
    position: sticky;
    top: -20px;
    z-index: 1;
}

.header__nav {
    padding: 30px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.nav__menu__item-link {
    display: inline-flex;
    align-items: center;
    padding: 0 21px;
    color: #c9d2da;
    text-align: center;
    font-weight: 300;
    line-height: 1.75;
}

.nav__menu__item-link:hover,
.nav__menu__item-link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.nav__menu__item-link--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.header-action__sign-in {
    margin-left: 222px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 1.75;
}

.header-action__sign-up {
    margin-left: 28px;
    min-width: 104px;
    font-size: 1.6rem;
    line-height: 2.75;
}

/* ========== Hero ========== */
.hero {
    padding: 76px 0 110px;
    background: var(--primary-color);
}

.container--hero {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 50%;
}

.hero__media {
    margin-left: 113px;
    width: 50%;
}

.hero__title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.143;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin: 22px 0 38px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__num-phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__img-up {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
    z-index: 1;
}

.hero__img-down {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}

/* ========== Services ========== */
.service {
    margin: 170px 0;
}

.service-title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.service-desc {
    margin: 18px auto 70px;
    width: 468px;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.service-content {
    display: flex;
    align-items: center;
}

.service-option {
    margin-left: 130px;
    width: 40%;
}

.service-image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-menu {
    margin-bottom: 55px;
}

.service-menu__item {
    padding: 21px 18px 20px 22px;
    display: flex;
    border-radius: 10px;
}

.service-menu__item:hover {
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-img-teeth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93.52px;
    height: 60px;
    background: #eff6fd;
    border-radius: 50%;
}

.service-img-teeth--active {
    color: #fff;
    background: #2e80ce;
}

.serviec-sub-content {
    margin-left: 19px;
}

.service-sub-title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item-desc {
    margin-top: 8px;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75;
}

/* ========== Services ========== */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.work__desc {
    margin: 18px 0 86px;
    width: 468px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.work-menu {
    padding: 0 16px;
    display: flex;
    gap: 60px;
}

.work__item {
    padding: 43px 42px;
    border-radius: 4px;
    background: #fff;
    outline: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work__item:hover {
    transform: translateY(-16px);
    outline: 16px solid #2e80ce;
}

.work-item__title {
    margin: 18px 0 28px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.385;
}

.work-item__desc {
    margin-bottom: 18px;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    color: #2e80ce;
    font-weight: 400;
    line-height: 1.75;
}

/* ========== Services ========== */
.about {
    margin-top: 170px;
}

.container--about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__media {
    position: relative;
    width: 49%;
    height: 491px;
    display: flex;
}

.about__content {
    width: 41%;
}

.about__image {
    display: block;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.about__image--up {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
}

.about__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.about__desc {
    margin: 18px 0 38px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* ========== Services ========== */
.team {
    margin-top: 170px;
}

.team__title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.team__btn {
    margin: 38px 0 70px;
    display: flex;
    justify-content: center;
}

.team__menu {
    display: flex;
    gap: 30px;
}

.team-item__image {
    width: 270px;
    height: 318px;
    object-fit: cover;
    border-radius: 6px;
    background: #eaf6ff;
}

.team-item__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-weight: 600;
    line-height: 1.75;
}

.team-item__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.team__controls {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.team-control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575f66;
    border: 1px solid #575f66;
    background: transparent;
}

.team-control__btn:hover {
    color: #fff;
    background: #2e80ce;
    border: 1px solid #2e80ce;
    cursor: pointer;
}

/* ========== CTA-1 ========== */
.cta-1 {
    margin-top: 265px;
}

.cta-1--container {
    max-height: 427px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    gap: 160px;
    border-radius: 4px;
    background: #2e80ce;
}

.cta-1__content {
    margin-left: auto;
    max-width: 586px;
}

.cta-1__title {
    max-width: 489px;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.cta-1__desc {
    margin: 18px 0 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.cta-1__apps {
    display: flex;
    gap: 28px;
}

.cta-1__image {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}

/* ========== Blog ========== */
.blog {
    margin: 170px 0;
}

.blog--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__content {
    max-width: 470px;
}

.blog__title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.blog__read-all {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.75;
    text-decoration-line: underline;
}

.blog__controls {
    display: flex;
    gap: 18px;
}

.blog__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575f66;
    border: 1px solid #575f66;
    background: transparent;
}

.blog__btn:hover {
    color: #fff;
    background: #2e80ce;
    border: 1px solid #2e80ce;
    cursor: pointer;
}

.blog-menu {
    display: flex;
    max-width: 570px;
}

.blog__item {
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
}

.blog__item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog-item__image {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
}

.blog__sub-content {
    margin: 18px 24px 21px 22px;
}

.blog-item__title {
    color: #10375c;
    font-weight: 600;
    line-height: 1.625;
}

.blog-item__desc {
    margin: 10px 0 12px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.714;
}

.blog-item_more {
    color: #2e80ce;
    font-size: 1.4rem;
    font-weight: 400;
}

/* ========== CTA 2 ========== */
.cta-2 {
    margin-bottom: 170px;
}

.cta-2-container {
    background: #f6fbff;
    padding: 100px 179px 100px 178px;
}

.cta-2__title {
    position: relative;
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.cta-2__title::after {
    position: absolute;
    content: "";
    bottom: -18px;
    right: 50%;
    transform: translateX(50%);
    width: 136px;
    height: 3px;
    background: #2e80ce;
}

.cta-2__desc {
    margin: 38px auto 38px;
    width: 617px;
    color: #575f66;
    text-align: center;
    font-weight: 300;
    line-height: 1.75;
}

.cta-2__btn {
    display: flex;
    justify-content: center;
}

/* ========== CTA 2 ========== */
.footer {
    background: var(--primary-color);
    padding: 100px 0 42px;
    font-family: var(--font-footer);
}

.footer__content {
}

.footer__separator {
    margin: 28px 0;
    width: 100%;
    height: 1px;
    background: #406181;
}

.footer__copyright {
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer_desc--logo {
    margin-bottom: 0;
    margin-top: 21px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__heading {
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
}

.footer__heading:last-of-type {
    margin-top: 28px;
}

.footer__link {
    display: inline-block;
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    white-space: nowrap;
}

.footer-form__submit {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    min-width: 108px;
    min-height: 46px;
    border-radius: 4px;
    border: none;
}

.footer-form__submit:hover {
    cursor: pointer;
    opacity: 0.9;
}

.footer__socials {
    display: flex;
    gap: 10px;
}

.footer__social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #2e80ce;
    transition: 0.25s;
}

.footer__social-btn:hover {
    color: #fff;
    background: #2e80ce;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__form {
    display: flex;
    column-gap: 12px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    color: #fff;
    background: transparent;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #406181;
    font-weight: 400;
}

.footer-form__input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    line-height: 1.86;

}